<!DOCTYPE html>
	<html lang="pt-br">
		<head>
			<meta charset="utf-8"/>
			<title>Form of register of News</title>
		</head>
	<body>
		<h1>Add News</h1>
		<br	/>
		<% if(validacao) { %>
			<ul>
				<% for(var i=0; i < validacao.length; i++){ %>
					<li>
						<%= validacao[i].msg %>
					</li>		
				<% } %>
			</ul>
		<% } %>

		<form action="/news/save" method="POST">
			<label>Título</label>
			<input type="text" id="titulo" name="titulo" value="<%=noticia.titulo %>" placeholder="Título da notícia" />
			<br />
			<label>Resumo</label>
			<input type="text" id="resumo" name="resumo" value="<%=noticia.resumo %>" placeholder="Resumo da notícia" />
			<br />
			<label>Autor</label>
			<input type="text" id="autor" name="autor" value="<%=noticia.autor %>" placeholder="Autor da notícia" />
			<br />
			<label>Data dos fatos</label>
			<input type="date" id="data_noticia" name="data_noticia" value="<%=noticia.date %>" placeholder="Data da notícia" />
			<br />
			<label>Notícia</label>
			<textarea id="noticia" name="noticia" rows="5" cols="30"><%=noticia.noticia %></textarea>
			<br />
			<input type="submit" value="Enviar" />
		</form>
	</body>
</html>